body{
    max-width: 2400px;
}

@font-face {
  font-family: 'Open Sans light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans exbold';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-horaN7vELC11_xip9Rz-hMs.woff) format('woff');
}

/*@font-face{
		font-family: 'League';
		src:url(../font/LeagueGothic-Regular.otf)
		}*/
    @font-face {
      font-family: 'League';
    src: url(../font/LeagueGothic-Regular.otf)

    }



#wrapper {
    margin: 0 auto;
    height: 2525px;
    background: white;
}


header {
    height: 516px;
    overflow: hidden;

}

footer {
  max-height: 201px;
}


header img{
   max-width: 100%;

}

footer img{
   max-width: 100%;

}
 .content__content {
    height: 780px;
    background: red;
}

.content__footer {
    height: 429px;
    background: green;
}

.header__logo{
    margin-top: 62px;
    margin-left: 1122px;
}

.main_nav {
    margin-top: 33px;
    margin-left: 1182px;
}

.main_nav li {
    list-style-type: none;
    display: block;
    position: relative;

}

.main_nav li a{
    color: white;
    font-family: 'League';
    display: block;
    text-decoration: underline #edbfff;
    font-size: 24px;
    text-decoration: 1px;
}

.main_nav li ul{
    list-style:none;
    position:absolute;
    left: -9999px;
    opacity: 0;
}

.main_nav li:hover ul{
    left: 0;
    opacity: 1;
}

/*@media (max-width: 360px){

}*/

.wrapper_slider {
	height: 200px;
	margin-left: 1104px;
    margin-top: 108px;
	width: 266px;
}

.slides .slider--title {
font-family: 'League';
    color: #fefefe;
    font-size: 36px;
}

.slider--artical{
    margin-top: 3px;
    margin-left: 1px;
    font-family: 'League';
    color: #edbfff;
    font-size: 18px;
    position: absolute;
}

.slider {

	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	/*-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);*/
}

/*.wrapper > input {
	display: none;
}*/

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}


/* .sub_header {
    height: 597px;
    background: linear-gradient(to top, #36293d, #745083);
    border-top: 1px solid #34263b;
    border-bottom: 1px solid #12191f;
}*/



.sub-header{
	padding:65px 0;
	background:linear-gradient(to bottom,#755282 32%,#3c2d44 100%);
	border:1px solid #000;
	border-right:none;border-left:none;
	}

.sub-header__item{
	background:url(../images/item.png) no-repeat;
	padding-left:50px;
	margin-bottom:25px;
    background-image: url(assets/images/nast.png);
	}

.sub-header__item:after{
	display:table;
	}

.sub-header__item h2{
	font-size:24px;
	color:#fff;
	margin-bottom:15px;
	}

.sub-header__item p{
	color:#fff;
	margin-bottom:15px;
	}

.sub-header__item a{
	display:inline-block;
	text-decoration:none;
	float:right;
	font-size:18px;
	font-weight: 24px;
	padding-right:10px;
	color:#fff;

		overflow: hidden;
		position: relative;
	}

	.sub-header__item a:hover{
	 text-shadow:5px 3px 15px white,-5px -3px 15px white;
	 color: #fff;
	}

@media only screen and (max-width:400px){body{padding-top:0;padding-bottom:0}}
