body {
    background: #f9f9f9;
}

.mainBlock {
    width: 1064px;
    height: 950px;
    background-color: #ffffff;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    box-shadow:
        0 0 1px 0 rgba(0, 0, 0, .1),
        0 0 1px 0 rgba(0, 0, 0, .1),
        0 0 40px 0 rgba(0, 0, 0, .1);
}

.mainBlock img {
    margin-left: 50px;
    margin-top: 40px;
}

.topMenu {
    list-style: none;
    width: 965px;
    height: 42px;   
    background:  url(../img/menuHeadBackground.png);
    margin-left: 50px;
    margin-top: 40px;
}

.topMenu li {
    float: left;
    padding: 13px;
    color: #e5e5e5;
    padding-left:  20px;
    padding-right: 40px;
  }

.topMenu li:hover {
   background-color: #2f2f2f; 
}

.sidebar {
    float: left;
    margin-top: 40px;
    margin-right: 48px;
    width: 240px;
    height: 240px;
    margin-left: 50px;
}

.leftMenu {
    float: left;
    width: 240px;
    height: 240px;
}

.leftMenu li {
    display: block;
    border: 1px solid #c8c8c8;
    color: #787878;
    padding: 15px;
    margin-top: -1px;    
}

.leftMenu li:hover {
    padding-left: 50px;
    background: #f9f9f9;
}

.downMenu {
    float: left;
    background: #e1e1e1;
    width: 665px;
    height: 40px;
    margin-left: 50px;
    margin-top: 60px;
}

.downMenu li{
    float: left;
    padding: 13px;
    padding-left:  20px;
    padding-right: 40px;
}

.downMenu li:hover{
    text-decoration: underline;
}

.tradeMark {
    display: inline-block;
    background: #e1e1e1;
    margin-top: 60px;
    width: 274px;
    height: 16px;
    padding: 12px;
}

.tradeMark span {
    color: #2c2c2c;
    padding-left: 70px;
}

.content {
    margin-top: 40px;
    width: 675px;
    line-height: 400px;
    text-align:center;
    overflow:auto;
    border: 1px solid #c8c8c8;
}

.content img {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}

p {
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 360px;
    font-size: 15px;
    line-height: 1.5;
    color: #787878;
}