@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/fonhelveticaneue-thin-webfont.eot');
    src: url('../fonts/fonhelveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonhelveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/fonhelveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/fonhelveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p, li {
    font-family: "Helvetica Neue Regular", Arial;
}

.main {
    position: relative;
    width: 1215px;
    height: 1064px;
    margin: 0 auto;
}

.header {
    position: relative;
    height: 35px;
    width: 1215px;
    background: #085596;
}

.menu {
    position: relative;
    list-style: none;
    width: 900px;
    margin-left: 400px;
}

.menu ul {
    position: absolute;
     margin-bottom: -10px;
    margin-top: 5px;
    padding-right: 5px; 
}

.menu li {
    float: left;
    height: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

.menu .main_menu{
    padding-top: 18px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    color: #56a2dc;
}

.menu  li{
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 5px;
    color: #56a2dc;
    margin-top: -2px;
}

.menu .main_menu:hover{
    color: white;
    background: #4eabda;
}

.li_verticalLine {
    border-right: 2px solid #56a2dc;
    padding-left: 10px;
    padding-right: 5px;
}


.menu .li_flag {
    color: #fefefe;
    text-align: right;
    width: 150px;
    background: url(../img/flag.png) 15px 5px no-repeat;
    padding-left: 5px;
}

.menu .ola {
    padding-left: 7px;
    margin-top: -6px;
    padding-bottom: 8px;
    padding-top: 10px;
    background: linear-gradient(to top, #2e7ac4, #51b1dc);
    height: 16px;
    color: white;
    border: 1px solid #5fa6e1;
    border-right: none;
}

.menu .entrar {
    margin-top: -5px;
    padding-top: 10px;
    background: linear-gradient(to top, #2e7ac4, #51b1dc);
    height: 14px;
    border-bottom: 1px solid #5fa6e1;
}

.menu .entrar_a{
    color: white;
}

.menu .entrar_a:hover{
    text-decoration: underline;
}

.menu .ou {
    margin-top: -5px;
    padding-top: 10px;
    background: linear-gradient(to top, #2e7ac4, #51b1dc);
    height: 14px;
    color: white;
    border-bottom: 1px solid #5fa6e1;
}

.menu .cadastre {
    margin-top: -5px;
    padding-top: 11px;
    padding-right: 7px;
    background: linear-gradient(to top, #2e7ac4, #51b1dc);
    height: 13px;
    border-bottom: 1px solid #5fa6e1;
    border-right: 1px solid #5fa6e1;
}

.windowInput {
    position:absolute;
    width: 560px;
    height: 610px;
    top: 227px;
    left: 327px;
    background-color: RGBA(0,0,0,0.63);
    text-align: center;
    padding-top: 10px; 
}

.windowInput header p {
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
}

.windowInput content {
    display: block;
    padding:20px;
    color: #666666;
    font-size: 15px;
}

.windowInput content .table {
    margin: 0 auto;
}

.windowInput content hr {
    border-color: #666666; 
    box-shadow: 0 1px rgb(0,0,0);
} 

.windowInput .butLog{
    margin-top: 30px;
    width: 276px;
    height: 35px;
}

.forms input{
    margin: 10px;
    border: 0px;
    border-bottom: 1px solid #484948;
    background-color: #0f0f0f;
    color: white;
    width: 260px;
    height: 35px;
    padding-left: 15px;
}

input.text:focus, password:focus {
    border: 1px solid blue;
    background: #1b5288;
}

.checkbox {
    margin-left: -46px;
}

.windowInput span {
    text-align: left;
    padding-left: 5px;
    color: white;
    font-size: 15px;
}

.butCreate {
    background: linear-gradient(to top, #2e7ac4, #4faddb);
    border-radius: 3px;
}

.windowInput .butCreate {
    margin-top: 20px;
    position: relative;
    width: 148px;
    height: 34px;
    border: 0px;
    color: white;
}

.policy {
    margin-top: 20px;
}

.policy p{
    font-size: 12px;
    padding-top: 5px;
    color: #dadad9;
}

a {
    text-decoration: none;
}