body{
   background: linear-gradient(to bottom, #40c6d3, #0c739f);
   background-size: contain;
}


.upBack {
    position: absolute;
    background: url(../img/backLine.png) repeat-x;
    height: 175px;
    width: 100%;
}

.mainBlock {
    position: relative;
    width: 1000px;
    min-height: 980px;
    background: white;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
}    

.menu {
    height: 35px;
    margin: -2px;
	font-size: 14px;
    color: #ffffff;
    position: relative;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
}

.menu li {
    list-style: none;
    float: left;
    height: 23px;
	width: 150px;
	text-align: center;
	background: #343434;
	position: relative;
	padding-top: 12px;
    margin-right: -8px;
   
}

.menu li ul {
  list-style: none;
	padding: 0;
	margin: 0;
	width: 150px;
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
}

.menu li ul li {
	float: none;
	height: 33px;
	margin: -10px;
	width: 150px;
    margin-left: 25px;
    padding-left: 10px;
	text-align: left;
	background: #343434;
	}

.menu li:hover ul, #menu li.jshover ul {
	display: block;
	}

.menu li:hover, #menu li.jshover {
	background: #343434;
	}

.menu a{
    color: white;
    text-decoration: none;
}

.columns{
    width: 1000px;
    overflow: hidden;
}

.leftColumn {
    padding-top: 10px;
    width: 21%;
    float: left;
    background: #edeef0;
    padding-bottom: 500px;
}

.centerColumn {
    padding-top: 10px;
    width: 580px;
    float: left;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

.rightColumn {
    padding-top: 10px;
    width: 21%;
    float: left;
    background: #edeef0;   
}

.title {
    color: grey;
    text-align: center;
     font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.flags {
    list-style: none;
    float: left;
    margin-top: -120px;
    margin-left: 550px; 
}

.flags li {
    float: left;
}

.flags li a {
    display: block;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 50px;
    font-size: 12px;
    width: 70px;
    height: 20px;
}

.flags .maldives a {
    background-image: url(../img/maldives.jpg);
}

.flags .sri-lanka a {
    background-image: url(../img/sri-lanka.jpg);
}

.flags .butan a {
    background-image: url(../img/butan.jpg);
}

.flags .tibet a {
    background-image: url(../img/tibet.jpg);
}

.flags .nepal a {
    background-image: url(../img/nepal.jpg);
}

.flags .india a {
    background-image: url(../img/india.jpg);
}

.header p {
    float: left;
    font-size: 12px;
    color: #128aa7;
    margin-top: -170px;
    padding-left: 810px;
}

.logo {
    position: relative;
    width: 283px;
    height: 116px;
    padding-top: 63px;
    padding-left: 20px;
    }

.header .slogan {
    position: absolute;
    font-size: 12px;
    color: #128aa7;
    margin-left: 78px;
    margin-top: -70px;    
}

.footer {
    text-align: center;
    color: white;
}

p {
    font-size: 14px;
    padding-left: 22px;
    line-height: 20px;
}

img {
    margin-top: -50px;
}