.bg {
    background: white;
    background: url(../img/back.jpg);
}

.mainBlock {
    width: 1000px;
    height: 1000px;
    background: white;
    
    margin: 0 auto;
    overflow: hidden;
}

#menu {
    margin: -2px;
	font-size: 14px;
    color: #ffffff;
}


#menu li {
    list-style: none;
    float: left;
    height: 23px;
	width: 150px;
	text-align: center;
	background: #343434;
	position: relative;
	padding-top: 12px;
    margin-right: -8px;
}

#menu li ul {
  list-style: none;
	padding: 0;
	margin: 0;
	width: 150px;
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
}

#menu li ul li {
	float: none;
	height: 33px;
	margin: -10px;
	width: 150px;
    margin-left: 25px;
    padding-left: 10px;
	text-align: left;
	background: #343434;
	}

#menu li:hover ul, #menu li.jshover ul {
	display: block;
	}

#menu li:hover, #menu li.jshover {
	background: #343434;
	}

.leftColumn {
    width: 210px;
    float: left;
    background: #edeef0;
    padding-bottom: 440px;
    
}

.rightColumn {
    width: 210px;
    float: right;
    background: #edeef0;
    padding-bottom: 160px;
    margin-right: 0px;
}

p {
    font-size: 14px;
    padding-left: 22px;
    line-height: 20px
}

img{
    margin-top: 177px;
}

