*{
    font-size: 18pt;
}

h1 {
    font-size: 30pt;
    font: bold;
    text-align: center;
}

hr{
    width: 500px;
    color: black;
}

p{
    padding-left: 60px;
}

ul{
   padding-left: 90px;
}

.bg{
    background: #F2F2F2;
}

.block{
    width: 595px;
    height: 842px;
    background-color: white;
    margin: 0 auto;
}

.img{
    margin: 0 auto;
    width: 150px;
}
