h1 {
    font-size: 30pt;
    font: bold;
    text-align: center;
}

hr{
    margin: 5%;
    color: black;
}

p{
    margin-left:  7%;
}

*{
    font-size: 17pt;
}

ul{
    margin-left: 8%
}


.bg{
    background: #F2F2F2;
}
.block{
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    margin: 0% 25% 0%;
    text-decoration: 
    
}
.img{
    text-align: center;
}